body{
    background-color: rgb(34, 81, 191);
    font-family: 'Rajdhani', sans-serif;
    color: white;
    padding: 20px;
}

.container__header{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:hsl(222, 57%, 59%) ;
    height: 550px;
    border-radius: 15px;
}

.header__image{
    margin-top: 30px;
    height: 200px;
    border-radius: 350px;
}

.header__title{
    margin-top: 80px;
}

.header__line{
    width: 200px;
    border-bottom: 1px solid white;
    position: absolute;
    }

.container__content{
    background-color:hsl(222, 57%, 59%) ;
    height: 640px;
    border-radius: 15px;
}

.fa{
   margin-top: 5px;
   height: 30px;
   width: 30px;
}

.footer{
    margin-top: 120px;
    margin-bottom: 30px  ;
    background-color:hsl(222, 57%, 59%) ;
    height: 130px;
    border-radius: 15px;
    padding: 10px;
}

@media (max-width: 992px) { 
    .container__content{
      height: 700px;
  }
  
   .footer{
      margin-top: 20px;
      height: 200px;
  }
}

@media (max-width: 768px) { 
   .container__header{
   height: 690px;
  }

  .header__line{
    width: 120px;
    }

  .container__content{
      height: 1150px;
  }

  .footer{
      height: 250px;
  }
}
@media (max-width: 576px) { 
    .container__content{
      height: 100px;
  }

   .footer{
      margin-top: 30px;
      height: 210px;
  }
}


